body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-image: url('0001-14578410453_20211215_000556_0000.png');
    height: 300px;
}
.himg{
    height: 25px;
    width: 25px;
    margin-top: 30px;
    margin-right: 20px;
    transition:transform  0.5s;
}
.himg:hover{
    transform: translateY(-3px);
}
#pimg{
    height: 200px;
    margin-top: -110px;
    border-radius: 50%;
    border: 5px solid white;
}
.links{
    margin-right: 20px;
    color: black;
}
#h1{
    text-align: center;
    font-size:xxx-large;
}
#footer{
    background:url('0001-14584902444_20211215_013428_0000.png');
    margin-top: 160px;
    color:white;
}
#footerh1{
    text-align: center;
}
.links:hover{
    color: darkorange;
}
